name: Rust

on:
  push:
    branches: ["main"]
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '!**/*.md'
      - '!src/**'
      - '!deno.json'
      - '!deno.lock'
      - '!package.json'
  pull_request:
    branches: ["main"]
    paths:
      - '**/*.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '!**/*.md'
      - '!src/**'
      - '!deno.json'
      - '!deno.lock'
      - '!package.json'
permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose --workspace
